.ock-tokenchip-button {
  @apply flex w-fit items-center rounded-2xl py-1 pl-1 pr-3;
  background: #eef0f3;

  &:hover {
    background: #cacbce;
  }
  &:active {
    background: #bfc1c3;
  }
}
.ock-tokenchip-label {
  @apply text-base font-medium leading-4 text-black;
}
.ock-tokenchip-image {
  @apply mr-2 h-6 w-6;
}
