.ock-tokenselector-container {
  @apply relative;
}

.ock-tokenselector-button {
  @apply flex w-fit items-center rounded-2xl px-3 py-1;
  background: #eef0f3;
  outline: none;
  gap: 8px;

  &:hover {
    background: #cacbce;
  }

  &:active {
    background: #bfc1c3;
  }
}

.ock-tokenselector-label {
  @apply text-base font-medium leading-normal text-[#0a0b0d];
}
