@tailwind base;

@layer base {
  :root {
    --text-ock-inverse: theme(colors.gray.50);
    --text-ock-foreground: theme(colors.gray.950);
    --text-ock-foreground-muted: theme(colors.gray.600);
    --text-ock-error: theme(colors.rose.600);
    --text-ock-primary: theme(colors.indigo.600);
    --text-ock-success: theme(colors.lime.600);
    --text-ock-warning: theme(colors.orange.600);
    --text-ock-disabled: theme(colors.gray.400);

    --bg-ock-default: theme(colors.gray.50);
    --bg-ock-default-hover: theme(colors.gray.200);
    --bg-ock-default-active: theme(colors.gray.300);
    --bg-ock-alternate: theme(colors.gray.200);
    --bg-ock-alternate-hover: theme(colors.gray.300);
    --bg-ock-alternate-active: theme(colors.gray.400);
    --bg-ock-inverse: theme(colors.gray.100);
    --bg-ock-inverse-hover: theme(colors.gray.200);
    --bg-ock-inverse-active: theme(colors.gray.300);
    --bg-ock-primary: theme(colors.indigo.600);
    --bg-ock-primary-hover: theme(colors.indigo.700);
    --bg-ock-primary-active: theme(colors.indigo.800);
    --bg-ock-secondary: theme(colors.slate.200);
    --bg-ock-secondary-hover: theme(colors.slate.300);
    --bg-ock-secondary-active: theme(colors.slate.400);
    --bg-ock-error: theme(colors.rose.600);
    --bg-ock-warning: theme(colors.orange.600);
    --bg-ock-success: theme(colors.lime.300);
    --bg-ock-default-reverse: theme(colors.gray.950);
  }

  .dark {
    --text-ock-inverse: theme(colors.gray.950);
    --text-ock-foreground: theme(colors.gray.50);
    --text-ock-foreground-muted: theme(colors.gray.400);
    --text-ock-error: theme(colors.rose.400);
    --text-ock-primary: theme(colors.indigo.400);
    --text-ock-success: theme(colors.lime.400);
    --text-ock-warning: theme(colors.orange.400);
    --text-ock-disabled: theme(colors.gray.600);
    --bg-ock-default: theme(colors.gray.950);
    --bg-ock-default-hover: theme(colors.gray.800);
    --bg-ock-default-active: theme(colors.gray.700);
    --bg-ock-alternate: theme(colors.gray.800);
    --bg-ock-alternate-hover: theme(colors.gray.700);
    --bg-ock-alternate-active: theme(colors.gray.600);
    --bg-ock-inverse: theme(colors.gray.900);
    --bg-ock-inverse-hover: theme(colors.gray.800);
    --bg-ock-inverse-active: theme(colors.gray.700);
    --bg-ock-primary: theme(colors.indigo.400);
    --bg-ock-primary-hover: theme(colors.indigo.300);
    --bg-ock-primary-active: theme(colors.indigo.200);
    --bg-ock-secondary: theme(colors.slate.800);
    --bg-ock-secondary-hover: theme(colors.slate.700);
    --bg-ock-secondary-active: theme(colors.slate.600);
    --bg-ock-error: theme(colors.rose.400);
    --bg-ock-warning: theme(colors.orange.400);
    --bg-ock-success: theme(colors.lime.700);
    --bg-ock-default-reverse: theme(colors.gray.50);
  }
}

@tailwind utilities;
@tailwind components;
