@import 'tailwindcss';

@layer base {
  :root,
  .light,
  .default-light {
    --ock-font-family: 'DM Sans', sans-serif;
    --ock-border-radius: 0.5rem;
    --ock-border-radius-inner: 0.25rem;
    --ock-text-inverse: var(--color-gray-50);
    --ock-text-foreground: var(--color-gray-950);
    --ock-text-foreground-muted: var(--color-gray-600);
    --ock-text-error: var(--color-rose-600);
    --ock-text-primary: var(--color-indigo-600);
    --ock-text-success: var(--color-lime-600);
    --ock-text-warning: var(--color-orange-600);
    --ock-text-disabled: var(--color-gray-400);

    --ock-bg-default: var(--color-gray-50);
    --ock-bg-default-hover: var(--color-gray-200);
    --ock-bg-default-active: var(--color-gray-300);
    --ock-bg-alternate: var(--color-gray-200);
    --ock-bg-alternate-hover: var(--color-gray-300);
    --ock-bg-alternate-active: var(--color-gray-400);
    --ock-bg-inverse: var(--color-gray-100);
    --ock-bg-inverse-hover: var(--color-gray-200);
    --ock-bg-inverse-active: var(--color-gray-300);
    --ock-bg-primary: var(--color-indigo-600);
    --ock-bg-primary-hover: var(--color-indigo-700);
    --ock-bg-primary-active: var(--color-indigo-800);
    --ock-bg-primary-washed: var(--color-indigo-100);
    --ock-bg-primary-disabled: var(--color-indigo-300);
    --ock-bg-secondary: var(--color-slate-200);
    --ock-bg-secondary-hover: var(--color-slate-300);
    --ock-bg-secondary-active: var(--color-slate-400);
    --ock-bg-error: var(--color-rose-600);
    --ock-bg-warning: var(--color-orange-600);
    --ock-bg-success: var(--color-lime-300);
    --ock-bg-default-reverse: var(--color-gray-950);

    --ock-icon-color-primary: var(--color-indigo-600);
    --ock-icon-color-foreground: var(--color-gray-950);
    --ock-icon-color-foreground-muted: var(--color-gray-600);
    --ock-icon-color-inverse: var(--color-gray-50);
    --ock-icon-color-error: var(--color-rose-600);
    --ock-icon-color-success: var(--color-lime-600);
    --ock-icon-color-warning: var(--color-orange-600);

    --ock-line-primary: var(--color-indigo-600);
    --ock-line-default: var(--color-gray-300);
    --ock-line-heavy: var(--color-gray-500);
    --ock-line-inverse: var(--color-gray-700);
  }

  .dark,
  .default-dark {
    --ock-font-family: 'DM Sans', sans-serif;
    --ock-border-radius: 0.5rem;
    --ock-border-radius-inner: 0.25rem;
    --ock-text-inverse: var(--color-gray-950);
    --ock-text-foreground: var(--color-gray-50);
    --ock-text-foreground-muted: var(--color-gray-400);
    --ock-text-error: var(--color-rose-400);
    --ock-text-primary: var(--color-indigo-400);
    --ock-text-success: var(--color-lime-400);
    --ock-text-warning: var(--color-orange-400);
    --ock-text-disabled: var(--color-gray-600);

    --ock-bg-default: var(--color-gray-950);
    --ock-bg-default-hover: var(--color-gray-800);
    --ock-bg-default-active: var(--color-gray-700);
    --ock-bg-alternate: var(--color-gray-800);
    --ock-bg-alternate-hover: var(--color-gray-700);
    --ock-bg-alternate-active: var(--color-gray-600);
    --ock-bg-inverse: var(--color-gray-900);
    --ock-bg-inverse-hover: var(--color-gray-800);
    --ock-bg-inverse-active: var(--color-gray-700);
    --ock-bg-primary: var(--color-indigo-400);
    --ock-bg-primary-hover: var(--color-indigo-300);
    --ock-bg-primary-active: var(--color-indigo-200);
    --ock-bg-primary-washed: var(--color-indigo-900);
    --ock-bg-primary-disabled: var(--color-indigo-950);
    --ock-bg-secondary: var(--color-slate-800);
    --ock-bg-secondary-hover: var(--color-slate-700);
    --ock-bg-secondary-active: var(--color-slate-600);
    --ock-bg-error: var(--color-rose-400);
    --ock-bg-warning: var(--color-orange-400);
    --ock-bg-success: var(--color-lime-700);
    --ock-bg-default-reverse: var(--color-gray-50);

    --ock-icon-color-primary: var(--color-indigo-400);
    --ock-icon-color-foreground: var(--color-gray-50);
    --ock-icon-color-foreground-muted: var(--color-gray-400);
    --ock-icon-color-inverse: var(--color-gray-950);
    --ock-icon-color-error: var(--color-rose-400);
    --ock-icon-color-success: var(--color-lime-400);
    --ock-icon-color-warning: var(--color-orange-400);

    --ock-line-primary: var(--color-indigo-400);
    --ock-line-default: var(--color-gray-700);
    --ock-line-heavy: var(--color-gray-500);
    --ock-line-inverse: var(--color-gray-300);
  }

  .base {
    --ock-font-family: 'DM Sans', sans-serif;
    --ock-border-radius: 0.5rem;
    --ock-border-radius-inner: 0.25rem;
    --ock-text-inverse: var(--color-gray-50);
    --ock-text-foreground: var(--color-gray-50);
    --ock-text-foreground-muted: var(--color-gray-400);
    --ock-text-error: var(--color-rose-400);
    --ock-text-primary: #0052ff;
    --ock-text-success: var(--color-lime-400);
    --ock-text-warning: var(--color-orange-400);
    --ock-text-disabled: var(--color-gray-600);

    --ock-bg-default: var(--color-gray-950);
    --ock-bg-default-hover: var(--color-gray-800);
    --ock-bg-default-active: var(--color-gray-700);
    --ock-bg-alternate: var(--color-gray-800);
    --ock-bg-alternate-hover: var(--color-gray-700);
    --ock-bg-alternate-active: var(--color-gray-600);
    --ock-bg-inverse: var(--color-gray-900);
    --ock-bg-inverse-hover: var(--color-gray-800);
    --ock-bg-inverse-active: var(--color-gray-700);
    --ock-bg-primary: #0052ff;
    --ock-bg-primary-hover: #014ceb;
    --ock-bg-primary-active: #0148dc;
    --ock-bg-primary-washed: #b2cbff;
    --ock-bg-primary-disabled: #80a8ff;
    --ock-bg-secondary: var(--color-slate-800);
    --ock-bg-secondary-hover: var(--color-slate-700);
    --ock-bg-secondary-active: var(--color-slate-600);
    --ock-bg-error: var(--color-rose-400);
    --ock-bg-warning: var(--color-orange-400);
    --ock-bg-success: var(--color-lime-700);
    --ock-bg-default-reverse: var(--color-gray-50);

    --ock-icon-color-primary: #0052ff;
    --ock-icon-color-foreground: var(--color-gray-50);
    --ock-icon-color-foreground-muted: var(--color-gray-400);
    --ock-icon-color-inverse: var(--color-gray-950);
    --ock-icon-color-error: var(--color-rose-400);
    --ock-icon-color-success: var(--color-lime-400);
    --ock-icon-color-warning: var(--color-orange-400);

    --ock-line-primary: #0052ff;
    --ock-line-default: var(--color-gray-700);
    --ock-line-heavy: var(--color-gray-500);
    --ock-line-inverse: var(--color-gray-300);
  }

  .cyberpunk {
    --ock-font-family: 'DM Sans', sans-serif;
    --ock-border-radius: 0.125rem;
    --ock-border-radius-inner: 0rem;
    --ock-text-inverse: var(--color-gray-950);
    --ock-text-foreground: var(--color-gray-50);
    --ock-text-foreground-muted: var(--color-gray-400);
    --ock-text-error: var(--color-rose-400);
    --ock-text-primary: var(--color-fuchsia-400);
    --ock-text-success: var(--color-lime-400);
    --ock-text-warning: var(--color-orange-400);
    --ock-text-disabled: var(--color-gray-600);

    --ock-bg-default: var(--color-gray-950);
    --ock-bg-default-hover: var(--color-gray-800);
    --ock-bg-default-active: var(--color-gray-700);
    --ock-bg-alternate: var(--color-gray-800);
    --ock-bg-alternate-hover: var(--color-gray-700);
    --ock-bg-alternate-active: var(--color-gray-600);
    --ock-bg-inverse: var(--color-gray-900);
    --ock-bg-inverse-hover: var(--color-gray-800);
    --ock-bg-inverse-active: var(--color-gray-700);
    --ock-bg-primary: var(--color-fuchsia-400);
    --ock-bg-primary-hover: var(--color-fuchsia-300);
    --ock-bg-primary-active: var(--color-fuchsia-200);
    --ock-bg-primary-washed: var(--color-fuchsia-900);
    --ock-bg-primary-disabled: var(--color-fuchsia-950);
    --ock-bg-secondary: var(--color-slate-800);
    --ock-bg-secondary-hover: var(--color-slate-700);
    --ock-bg-secondary-active: var(--color-slate-600);
    --ock-bg-error: var(--color-rose-400);
    --ock-bg-warning: var(--color-orange-400);
    --ock-bg-success: var(--color-lime-400);
    --ock-bg-default-reverse: var(--color-gray-50);

    --ock-icon-color-primary: var(--color-fuchsia-400);
    --ock-icon-color-foreground: var(--color-gray-50);
    --ock-icon-color-foreground-muted: var(--color-gray-600);
    --ock-icon-color-inverse: var(--color-gray-950);
    --ock-icon-color-error: var(--color-rose-600);
    --ock-icon-color-success: var(--color-lime-600);
    --ock-icon-color-warning: var(--color-orange-600);

    --ock-line-primary: var(--color-fuchsia-400);
    --ock-line-default: var(--color-gray-700);
    --ock-line-heavy: var(--color-gray-500);
    --ock-line-inverse: var(--color-gray-300);
  }

  .hacker {
    --ock-font-family: 'Noto Sans Mono', sans-serif;
    --ock-border-radius: 0.375rem;
    --ock-border-radius-inner: 0.125rem;
    --ock-text-inverse: var(--color-zinc-50);
    --ock-text-foreground: var(--color-zinc-950);
    --ock-text-foreground-muted: var(--color-zinc-600);
    --ock-text-error: var(--color-rose-600);
    --ock-text-primary: var(--color-zinc-950);
    --ock-text-success: var(--color-lime-600);
    --ock-text-warning: var(--color-orange-600);
    --ock-text-disabled: var(--color-zinc-400);

    --ock-bg-default: var(--color-zinc-50);
    --ock-bg-default-hover: var(--color-zinc-200);
    --ock-bg-default-active: var(--color-zinc-300);
    --ock-bg-alternate: var(--color-zinc-200);
    --ock-bg-alternate-hover: var(--color-zinc-300);
    --ock-bg-alternate-active: var(--color-zinc-400);
    --ock-bg-inverse: var(--color-zinc-100);
    --ock-bg-inverse-hover: var(--color-zinc-200);
    --ock-bg-inverse-active: var(--color-zinc-300);
    --ock-bg-primary: var(--color-zinc-950);
    --ock-bg-primary-hover: var(--color-zinc-800);
    --ock-bg-primary-active: var(--color-zinc-700);
    --ock-bg-primary-washed: var(--color-zinc-100);
    --ock-bg-primary-disabled: var(--color-zinc-300);
    --ock-bg-secondary: var(--color-neutral-200);
    --ock-bg-secondary-hover: var(--color-neutral-300);
    --ock-bg-secondary-active: var(--color-neutral-400);
    --ock-bg-error: var(--color-rose-600);
    --ock-bg-warning: var(--color-orange-600);
    --ock-bg-success: var(--color-lime-600);
    --ock-bg-default-reverse: var(--color-neutral-50);

    --ock-icon-color-primary: var(--color-zinc-950);
    --ock-icon-color-foreground: var(--color-zinc-950);
    --ock-icon-color-foreground-muted: var(--color-zinc-600);
    --ock-icon-color-inverse: var(--color-zinc-50);
    --ock-icon-color-error: var(--color-rose-600);
    --ock-icon-color-success: var(--color-lime-600);
    --ock-icon-color-warning: var(--color-orange-600);

    --ock-line-primary: var(--color-zinc-950);
    --ock-line-default: var(--color-zinc-300);
    --ock-line-heavy: var(--color-zinc-500);
    --ock-line-inverse: var(--color-zinc-700);
  }
}

@layer components {
  .animate-enterRight {
    animation: enterRight 500ms ease-out forwards;
  }

  .animate-enterUp {
    animation: enterUp 500ms ease-out forwards;
  }

  .animate-enterDown {
    animation: enterDown 500ms ease-out forwards;
  }

  @keyframes enterRight {
    from {
      opacity: 0;
      transform: translateX(2rem);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes enterUp {
    from {
      opacity: 0;
      transform: translateY(2rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes enterDown {
    from {
      opacity: 0;
      transform: translateY(-2rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
  }
}
