@tailwind base;

@layer base {
  :root,
  .light,
  .default-light {
    --ock-font-family: 'DM Sans', sans-serif;
    --ock-border-radius: 0.5rem;
    --ock-border-radius-inner: 0.25rem;
    --ock-text-inverse: theme(colors.gray.50);
    --ock-text-foreground: theme(colors.gray.950);
    --ock-text-foreground-muted: theme(colors.gray.600);
    --ock-text-error: theme(colors.rose.600);
    --ock-text-primary: theme(colors.indigo.600);
    --ock-text-success: theme(colors.lime.600);
    --ock-text-warning: theme(colors.orange.600);
    --ock-text-disabled: theme(colors.gray.400);

    --ock-bg-default: theme(colors.gray.50);
    --ock-bg-default-hover: theme(colors.gray.200);
    --ock-bg-default-active: theme(colors.gray.300);
    --ock-bg-alternate: theme(colors.gray.200);
    --ock-bg-alternate-hover: theme(colors.gray.300);
    --ock-bg-alternate-active: theme(colors.gray.400);
    --ock-bg-inverse: theme(colors.gray.100);
    --ock-bg-inverse-hover: theme(colors.gray.200);
    --ock-bg-inverse-active: theme(colors.gray.300);
    --ock-bg-primary: theme(colors.indigo.600);
    --ock-bg-primary-hover: theme(colors.indigo.700);
    --ock-bg-primary-active: theme(colors.indigo.800);
    --ock-bg-primary-washed: theme(colors.indigo.100);
    --ock-bg-primary-disabled: theme(colors.indigo.300);
    --ock-bg-secondary: theme(colors.slate.200);
    --ock-bg-secondary-hover: theme(colors.slate.300);
    --ock-bg-secondary-active: theme(colors.slate.400);
    --ock-bg-error: theme(colors.rose.600);
    --ock-bg-warning: theme(colors.orange.600);
    --ock-bg-success: theme(colors.lime.300);
    --ock-bg-default-reverse: theme(colors.gray.950);

    --ock-icon-color-primary: theme(colors.indigo.600);
    --ock-icon-color-foreground: theme(colors.gray.950);
    --ock-icon-color-foreground-muted: theme(colors.gray.600);
    --ock-icon-color-inverse: theme(colors.gray.50);
    --ock-icon-color-error: theme(colors.rose.600);
    --ock-icon-color-success: theme(colors.lime.600);
    --ock-icon-color-warning: theme(colors.orange.600);

    --ock-line-primary: theme(colors.indigo.600);
    --ock-line-default: theme(colors.gray.300);
    --ock-line-heavy: theme(colors.gray.500);
    --ock-line-inverse: theme(colors.gray.700);
  }

  .dark,
  .default-dark {
    --ock-font-family: 'DM Sans', sans-serif;
    --ock-border-radius: 0.5rem;
    --ock-border-radius-inner: 0.25rem;
    --ock-text-inverse: theme(colors.gray.950);
    --ock-text-foreground: theme(colors.gray.50);
    --ock-text-foreground-muted: theme(colors.gray.400);
    --ock-text-error: theme(colors.rose.400);
    --ock-text-primary: theme(colors.indigo.400);
    --ock-text-success: theme(colors.lime.400);
    --ock-text-warning: theme(colors.orange.400);
    --ock-text-disabled: theme(colors.gray.600);

    --ock-bg-default: theme(colors.gray.950);
    --ock-bg-default-hover: theme(colors.gray.800);
    --ock-bg-default-active: theme(colors.gray.700);
    --ock-bg-alternate: theme(colors.gray.800);
    --ock-bg-alternate-hover: theme(colors.gray.700);
    --ock-bg-alternate-active: theme(colors.gray.600);
    --ock-bg-inverse: theme(colors.gray.900);
    --ock-bg-inverse-hover: theme(colors.gray.800);
    --ock-bg-inverse-active: theme(colors.gray.700);
    --ock-bg-primary: theme(colors.indigo.400);
    --ock-bg-primary-hover: theme(colors.indigo.300);
    --ock-bg-primary-active: theme(colors.indigo.200);
    --ock-bg-primary-washed: theme(colors.indigo.900);
    --ock-bg-primary-disabled: theme(colors.indigo.950);
    --ock-bg-secondary: theme(colors.slate.800);
    --ock-bg-secondary-hover: theme(colors.slate.700);
    --ock-bg-secondary-active: theme(colors.slate.600);
    --ock-bg-error: theme(colors.rose.400);
    --ock-bg-warning: theme(colors.orange.400);
    --ock-bg-success: theme(colors.lime.700);
    --ock-bg-default-reverse: theme(colors.gray.50);

    --ock-icon-color-primary: theme(colors.indigo.400);
    --ock-icon-color-foreground: theme(colors.gray.50);
    --ock-icon-color-foreground-muted: theme(colors.gray.400);
    --ock-icon-color-inverse: theme(colors.gray.950);
    --ock-icon-color-error: theme(colors.rose.400);
    --ock-icon-color-success: theme(colors.lime.400);
    --ock-icon-color-warning: theme(colors.orange.400);

    --ock-line-primary: theme(colors.indigo.400);
    --ock-line-default: theme(colors.gray.700);
    --ock-line-heavy: theme(colors.gray.500);
    --ock-line-inverse: theme(colors.gray.300);
  }

  .base-light {
    --ock-font-family: 'DM Sans', sans-serif;
    --ock-border-radius: 0.5rem;
    --ock-border-radius-inner: 0.25rem;
    --ock-text-inverse: theme(colors.gray.50);
    --ock-text-foreground: theme(colors.gray.950);
    --ock-text-foreground-muted: theme(colors.gray.600);
    --ock-text-error: theme(colors.rose.600);
    --ock-text-primary: #0052ff;
    --ock-text-success: theme(colors.lime.600);
    --ock-text-warning: theme(colors.orange.600);
    --ock-text-disabled: theme(colors.gray.400);

    --ock-bg-default: theme(colors.gray.50);
    --ock-bg-default-hover: theme(colors.gray.200);
    --ock-bg-default-active: theme(colors.gray.300);
    --ock-bg-alternate: theme(colors.gray.200);
    --ock-bg-alternate-hover: theme(colors.gray.300);
    --ock-bg-alternate-active: theme(colors.gray.400);
    --ock-bg-inverse: theme(colors.gray.100);
    --ock-bg-inverse-hover: theme(colors.gray.200);
    --ock-bg-inverse-active: theme(colors.gray.300);
    --ock-bg-primary: #0052ff;
    --ock-bg-primary-hover: #014ceb;
    --ock-bg-primary-active: #0148dc;
    --ock-bg-primary-washed: #b2cbff;
    --ock-bg-primary-disabled: #9dbcfe;
    --ock-bg-secondary: theme(colors.slate.200);
    --ock-bg-secondary-hover: theme(colors.slate.300);
    --ock-bg-secondary-active: theme(colors.slate.400);
    --ock-bg-error: theme(colors.rose.600);
    --ock-bg-warning: theme(colors.orange.600);
    --ock-bg-success: theme(colors.lime.300);
    --ock-bg-default-reverse: theme(colors.gray.950);

    --ock-icon-color-primary: #0052ff;
    --ock-icon-color-foreground: theme(colors.gray.950);
    --ock-icon-color-foreground-muted: theme(colors.gray.600);
    --ock-icon-color-inverse: theme(colors.gray.50);
    --ock-icon-color-error: theme(colors.rose.600);
    --ock-icon-color-success: theme(colors.lime.600);
    --ock-icon-color-warning: theme(colors.orange.600);

    --ock-line-primary: #0052ff;
    --ock-line-default: theme(colors.gray.300);
    --ock-line-heavy: theme(colors.gray.500);
    --ock-line-inverse: theme(colors.gray.700);
  }

  .base-dark {
    --ock-font-family: 'DM Sans', sans-serif;
    --ock-border-radius: 0.5rem;
    --ock-border-radius-inner: 0.25rem;
    --ock-text-inverse: theme(colors.gray.50);
    --ock-text-foreground: theme(colors.gray.50);
    --ock-text-foreground-muted: theme(colors.gray.400);
    --ock-text-error: theme(colors.rose.400);
    --ock-text-primary: #578bfa;
    --ock-text-success: theme(colors.lime.400);
    --ock-text-warning: theme(colors.orange.400);
    --ock-text-disabled: theme(colors.gray.600);

    --ock-bg-default: theme(colors.gray.950);
    --ock-bg-default-hover: theme(colors.gray.800);
    --ock-bg-default-active: theme(colors.gray.700);
    --ock-bg-alternate: theme(colors.gray.800);
    --ock-bg-alternate-hover: theme(colors.gray.700);
    --ock-bg-alternate-active: theme(colors.gray.600);
    --ock-bg-inverse: theme(colors.gray.900);
    --ock-bg-inverse-hover: theme(colors.gray.800);
    --ock-bg-inverse-active: theme(colors.gray.700);
    --ock-bg-primary: #578bfa;
    --ock-bg-primary-hover: #477ef5;
    --ock-bg-primary-active: #5386f5;
    --ock-bg-primary-washed: #051537;
    --ock-bg-primary-disabled: #1b3365;
    --ock-bg-secondary: theme(colors.slate.800);
    --ock-bg-secondary-hover: theme(colors.slate.700);
    --ock-bg-secondary-active: theme(colors.slate.600);
    --ock-bg-error: theme(colors.rose.400);
    --ock-bg-warning: theme(colors.orange.400);
    --ock-bg-success: theme(colors.lime.700);
    --ock-bg-default-reverse: theme(colors.gray.50);

    --ock-icon-color-primary: #578bfa;
    --ock-icon-color-foreground: theme(colors.gray.50);
    --ock-icon-color-foreground-muted: theme(colors.gray.400);
    --ock-icon-color-inverse: theme(colors.gray.950);
    --ock-icon-color-error: theme(colors.rose.400);
    --ock-icon-color-success: theme(colors.lime.400);
    --ock-icon-color-warning: theme(colors.orange.400);

    --ock-line-primary: #578bfa;
    --ock-line-default: theme(colors.gray.700);
    --ock-line-heavy: theme(colors.gray.500);
    --ock-line-inverse: theme(colors.gray.300);
  }

  .cyberpunk {
    --ock-font-family: 'Oxanium', sans-serif;
    --ock-border-radius: 0.125rem;
    --ock-border-radius-inner: 0rem;
    --ock-text-inverse: theme(colors.gray.950);
    --ock-text-foreground: theme(colors.gray.50);
    --ock-text-foreground-muted: theme(colors.gray.400);
    --ock-text-error: theme(colors.rose.400);
    --ock-text-primary: theme(colors.fuchsia.400);
    --ock-text-success: theme(colors.lime.400);
    --ock-text-warning: theme(colors.orange.400);
    --ock-text-disabled: theme(colors.gray.600);

    --ock-bg-default: theme(colors.gray.950);
    --ock-bg-default-hover: theme(colors.gray.800);
    --ock-bg-default-active: theme(colors.gray.700);
    --ock-bg-alternate: theme(colors.gray.800);
    --ock-bg-alternate-hover: theme(colors.gray.700);
    --ock-bg-alternate-active: theme(colors.gray.600);
    --ock-bg-inverse: theme(colors.gray.900);
    --ock-bg-inverse-hover: theme(colors.gray.800);
    --ock-bg-inverse-active: theme(colors.gray.700);
    --ock-bg-primary: theme(colors.fuchsia.400);
    --ock-bg-primary-hover: theme(colors.fuchsia.300);
    --ock-bg-primary-active: theme(colors.fuchsia.200);
    --ock-bg-primary-washed: theme(colors.fuchsia.900);
    --ock-bg-primary-disabled: theme(colors.fuchsia.950);
    --ock-bg-secondary: theme(colors.slate.800);
    --ock-bg-secondary-hover: theme(colors.slate.700);
    --ock-bg-secondary-active: theme(colors.slate.600);
    --ock-bg-error: theme(colors.rose.400);
    --ock-bg-warning: theme(colors.orange.400);
    --ock-bg-success: theme(colors.lime.400);
    --ock-bg-default-reverse: theme(colors.gray.50);

    --ock-icon-color-primary: theme(colors.fuchsia.400);
    --ock-icon-color-foreground: theme(colors.gray.50);
    --ock-icon-color-foreground-muted: theme(colors.gray.600);
    --ock-icon-color-inverse: theme(colors.gray.950);
    --ock-icon-color-error: theme(colors.rose.600);
    --ock-icon-color-success: theme(colors.lime.600);
    --ock-icon-color-warning: theme(colors.orange.600);

    --ock-line-primary: theme(colors.fuchsia.400);
    --ock-line-default: theme(colors.gray.700);
    --ock-line-heavy: theme(colors.gray.500);
    --ock-line-inverse: theme(colors.gray.300);
  }

  .hacker {
    --ock-font-family: 'Noto Sans Mono', sans-serif;
    --ock-border-radius: 0.375rem;
    --ock-border-radius-inner: 0.125rem;
    --ock-text-inverse: theme(colors.zinc.50);
    --ock-text-foreground: theme(colors.zinc.950);
    --ock-text-foreground-muted: theme(colors.zinc.600);
    --ock-text-error: theme(colors.rose.600);
    --ock-text-primary: theme(colors.zinc.950);
    --ock-text-success: theme(colors.lime.600);
    --ock-text-warning: theme(colors.orange.600);
    --ock-text-disabled: theme(colors.zinc.400);

    --ock-bg-default: theme(colors.zinc.50);
    --ock-bg-default-hover: theme(colors.zinc.200);
    --ock-bg-default-active: theme(colors.zinc.300);
    --ock-bg-alternate: theme(colors.zinc.200);
    --ock-bg-alternate-hover: theme(colors.zinc.300);
    --ock-bg-alternate-active: theme(colors.zinc.400);
    --ock-bg-inverse: theme(colors.zinc.100);
    --ock-bg-inverse-hover: theme(colors.zinc.200);
    --ock-bg-inverse-active: theme(colors.zinc.300);
    --ock-bg-primary: theme(colors.zinc.950);
    --ock-bg-primary-hover: theme(colors.zinc.800);
    --ock-bg-primary-active: theme(colors.zinc.700);
    --ock-bg-primary-washed: theme(colors.zinc.100);
    --ock-bg-primary-disabled: theme(colors.zinc.300);
    --ock-bg-secondary: theme(colors.neutral.200);
    --ock-bg-secondary-hover: theme(colors.neutral.300);
    --ock-bg-secondary-active: theme(colors.neutral.400);
    --ock-bg-error: theme(colors.rose.600);
    --ock-bg-warning: theme(colors.orange.600);
    --ock-bg-success: theme(colors.lime.600);
    --ock-bg-default-reverse: theme(colors.neutral.50);

    --ock-icon-color-primary: theme(colors.zinc.950);
    --ock-icon-color-foreground: theme(colors.zinc.950);
    --ock-icon-color-foreground-muted: theme(colors.zinc.600);
    --ock-icon-color-inverse: theme(colors.zinc.50);
    --ock-icon-color-error: theme(colors.rose.600);
    --ock-icon-color-success: theme(colors.lime.600);
    --ock-icon-color-warning: theme(colors.orange.600);

    --ock-line-primary: theme(colors.zinc.950);
    --ock-line-default: theme(colors.zinc.300);
    --ock-line-heavy: theme(colors.zinc.500);
    --ock-line-inverse: theme(colors.zinc.700);
  }
}

@layer components {
  .animate-enterRight {
    @apply animate-in slide-in-from-right-8 fade-in duration-500;
  }

  .animate-enterUp {
    @apply animate-in slide-in-from-bottom-8 fade-in duration-500;
  }

  .animate-enterDown {
    @apply animate-in slide-in-from-top-8 fade-in duration-500;
  }
}

@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
}

@tailwind components;
