@import 'tailwindcss';
@import 'tw-animate-css';
@custom-variant dark (&:where(.dark, .dark *));
@source inline("dark");
@source inline("font-sans");

@layer base {
  .light,
  .default-light,
  :root {
    /* Base shared across multiple themes */
    --ock-radius-default: var(--radius-lg);
    --ock-radius-inner: var(--radius-md);
    --ock-font-family: 'DM Sans', sans-serif;
    --ock-text-inverse: theme(colors.gray.50);
    --ock-text-foreground: theme(colors.gray.950);
    --ock-text-foreground-muted: theme(colors.gray.600);
    --ock-text-error: theme(colors.rose.600);
    --ock-text-primary: theme(colors.indigo.600);
    --ock-text-success: theme(colors.lime.600);
    --ock-text-warning: theme(colors.orange.600);
    --ock-text-disabled: theme(colors.gray.400);
    --ock-bg-default: theme(colors.gray.50);
    --ock-bg-default-hover: theme(colors.gray.200);
    --ock-bg-default-active: theme(colors.gray.300);
    --ock-bg-alternate: theme(colors.gray.200);
    --ock-bg-alternate-hover: theme(colors.gray.300);
    --ock-bg-alternate-active: theme(colors.gray.400);
    --ock-bg-inverse: theme(colors.gray.100);
    --ock-bg-inverse-hover: theme(colors.gray.200);
    --ock-bg-inverse-active: theme(colors.gray.300);
    --ock-bg-primary: theme(colors.indigo.600);
    --ock-bg-primary-hover: theme(colors.indigo.700);
    --ock-bg-primary-active: theme(colors.indigo.800);
    --ock-bg-primary-washed: theme(colors.indigo.100);
    --ock-bg-primary-disabled: theme(colors.indigo.300);
    --ock-bg-secondary: theme(colors.slate.200);
    --ock-bg-secondary-hover: theme(colors.slate.300);
    --ock-bg-secondary-active: theme(colors.slate.400);
    --ock-bg-error: theme(colors.rose.600);
    --ock-bg-warning: theme(colors.orange.600);
    --ock-bg-success: theme(colors.lime.300);
    --ock-bg-default-reverse: theme(colors.gray.950);

    --ock-icon-color-primary: theme(colors.indigo.600);
    --ock-icon-color-foreground: theme(colors.gray.950);
    --ock-icon-color-foreground-muted: theme(colors.gray.600);
    --ock-icon-color-inverse: theme(colors.gray.50);
    --ock-icon-color-error: theme(colors.rose.600);
    --ock-icon-color-success: theme(colors.lime.600);
    --ock-icon-color-warning: theme(colors.orange.600);

    --ock-line-primary: theme(colors.indigo.600);
    --ock-line-default: theme(colors.gray.300);
    --ock-line-heavy: theme(colors.gray.500);
    --ock-line-inverse: theme(colors.gray.700);
    --ock-shadow-default: 0px 8px 12px 0px #5b616e1f;
  }

  .dark,
  .default-dark,
  .base-dark,
  .cyberpunk {
    --ock-text-inverse: theme(colors.gray.950);
    --ock-text-foreground: theme(colors.gray.50);
    --ock-text-foreground-muted: theme(colors.gray.400);
    --ock-text-error: theme(colors.rose.400);
    --ock-text-primary: theme(colors.indigo.400);
    --ock-text-success: theme(colors.lime.400);
    --ock-text-warning: theme(colors.orange.400);
    --ock-text-disabled: theme(colors.gray.600);
    --ock-bg-default: theme(colors.gray.950);
    --ock-bg-default-hover: theme(colors.gray.800);
    --ock-bg-default-active: theme(colors.gray.700);
    --ock-bg-alternate: theme(colors.gray.800);
    --ock-bg-alternate-hover: theme(colors.gray.700);
    --ock-bg-alternate-active: theme(colors.gray.600);
    --ock-bg-inverse: theme(colors.gray.900);
    --ock-bg-inverse-hover: theme(colors.gray.800);
    --ock-bg-inverse-active: theme(colors.gray.700);
    --ock-bg-primary: theme(colors.indigo.400);
    --ock-bg-primary-hover: theme(colors.indigo.300);
    --ock-bg-primary-active: theme(colors.indigo.200);
    --ock-bg-primary-washed: theme(colors.indigo.900);
    --ock-bg-primary-disabled: theme(colors.indigo.950);
    --ock-bg-secondary: theme(colors.slate.800);
    --ock-bg-secondary-hover: theme(colors.slate.700);
    --ock-bg-secondary-active: theme(colors.slate.600);
    --ock-bg-error: theme(colors.rose.400);
    --ock-bg-warning: theme(colors.orange.400);
    --ock-bg-success: theme(colors.lime.700);
    --ock-bg-default-reverse: theme(colors.gray.50);

    --ock-icon-color-primary: theme(colors.indigo.400);
    --ock-icon-color-foreground: theme(colors.gray.50);
    --ock-icon-color-foreground-muted: theme(colors.gray.400);
    --ock-icon-color-inverse: theme(colors.gray.950);
    --ock-icon-color-error: theme(colors.rose.400);
    --ock-icon-color-success: theme(colors.lime.400);
    --ock-icon-color-warning: theme(colors.orange.400);

    --ock-line-primary: theme(colors.indigo.400);
    --ock-line-default: theme(colors.gray.700);
    --ock-line-heavy: theme(colors.gray.500);
    --ock-line-inverse: theme(colors.gray.300);
  }

  .base-light {
    --ock-text-primary: #0052ff;
    --ock-bg-primary: #0052ff;
    --ock-bg-primary-hover: #014ceb;
    --ock-bg-primary-active: #0148dc;
    --ock-bg-primary-washed: #b2cbff;
    --ock-bg-primary-disabled: #9dbcfe;
    --ock-icon-color-primary: #0052ff;
    --ock-line-primary: #0052ff;
  }

  .base-dark {
    --ock-text-primary: #578bfa;
    --ock-bg-primary: #578bfa;
    --ock-bg-primary-hover: #477ef5;
    --ock-bg-primary-active: #5386f5;
    --ock-bg-primary-washed: #051537;
    --ock-bg-primary-disabled: #1b3365;
    --ock-icon-color-primary: #578bfa;
    --ock-line-primary: #578bfa;
  }

  .cyberpunk {
    --ock-font-family: 'Oxanium', sans-serif;
    --ock-radius-default: 0.125rem;
    --ock-radius-inner: 0rem;
    --ock-text-primary: theme(colors.fuchsia.400);
    --ock-bg-primary: theme(colors.fuchsia.400);
    --ock-bg-primary-hover: theme(colors.fuchsia.300);
    --ock-bg-primary-active: theme(colors.fuchsia.200);
    --ock-bg-primary-washed: theme(colors.fuchsia.900);
    --ock-bg-primary-disabled: theme(colors.fuchsia.950);
    --ock-icon-color-primary: theme(colors.fuchsia.400);
    --ock-icon-color-error: theme(colors.rose.600);
    --ock-icon-color-success: theme(colors.lime.600);
    --ock-icon-color-warning: theme(colors.orange.600);
    --ock-line-primary: theme(colors.fuchsia.400);
  }

  .hacker {
    --ock-font-family: 'Noto Sans Mono', sans-serif;
    --ock-radius-default: 0.375rem;
    --ock-radius-inner: 0.125rem;
    --ock-text-inverse: theme(colors.zinc.50);
    --ock-text-foreground: theme(colors.zinc.950);
    --ock-text-foreground-muted: theme(colors.zinc.600);
    --ock-text-error: theme(colors.rose.600);
    --ock-text-primary: theme(colors.zinc.950);
    --ock-text-success: theme(colors.lime.600);
    --ock-text-warning: theme(colors.orange.600);
    --ock-text-disabled: theme(colors.zinc.400);

    --ock-bg-default: theme(colors.zinc.50);
    --ock-bg-default-hover: theme(colors.zinc.200);
    --ock-bg-default-active: theme(colors.zinc.300);
    --ock-bg-alternate: theme(colors.zinc.200);
    --ock-bg-alternate-hover: theme(colors.zinc.300);
    --ock-bg-alternate-active: theme(colors.zinc.400);
    --ock-bg-inverse: theme(colors.zinc.100);
    --ock-bg-inverse-hover: theme(colors.zinc.200);
    --ock-bg-inverse-active: theme(colors.zinc.300);
    --ock-bg-primary: theme(colors.zinc.950);
    --ock-bg-primary-hover: theme(colors.zinc.800);
    --ock-bg-primary-active: theme(colors.zinc.700);
    --ock-bg-primary-washed: theme(colors.zinc.100);
    --ock-bg-primary-disabled: theme(colors.zinc.300);
    --ock-bg-secondary: theme(colors.neutral.200);
    --ock-bg-secondary-hover: theme(colors.neutral.300);
    --ock-bg-secondary-active: theme(colors.neutral.400);
    --ock-bg-error: theme(colors.rose.600);
    --ock-bg-warning: theme(colors.orange.600);
    --ock-bg-success: theme(colors.lime.600);
    --ock-bg-default-reverse: theme(colors.neutral.50);

    --ock-icon-color-primary: theme(colors.zinc.950);
    --ock-icon-color-foreground: theme(colors.zinc.950);
    --ock-icon-color-foreground-muted: theme(colors.zinc.600);
    --ock-icon-color-inverse: theme(colors.zinc.50);
    --ock-icon-color-error: theme(colors.rose.600);
    --ock-icon-color-success: theme(colors.lime.600);
    --ock-icon-color-warning: theme(colors.orange.600);

    --ock-line-primary: theme(colors.zinc.950);
    --ock-line-default: theme(colors.zinc.300);
    --ock-line-heavy: theme(colors.zinc.500);
    --ock-line-inverse: theme(colors.zinc.700);
  }
}

@theme inline {
  --font-sans: 'Inter', sans-serif;
  --font-display: 'DM Sans', sans-serif;
  --spacing-88: 22rem;
  --spacing-120: 30rem;
  --radius-ock-default: var(--ock-radius-default);
  --radius-ock-inner: var(--ock-radius-inner);
  --font-ock: var(--ock-font-family);
  --color-ock-text-inverse: var(--ock-text-inverse);
  --color-ock-text-foreground: var(--ock-text-foreground);
  --color-ock-text-foreground-muted: var(--ock-text-foreground-muted);
  --color-ock-text-error: var(--ock-text-error);
  --color-ock-text-primary: var(--ock-text-primary);
  --color-ock-text-success: var(--ock-text-success);
  --color-ock-text-warning: var(--ock-text-warning);
  --color-ock-text-disabled: var(--ock-text-disabled);
  --color-ock-bg-default: var(--ock-bg-default);
  --color-ock-bg-default-hover: var(--ock-bg-default-hover);
  --color-ock-bg-default-active: var(--ock-bg-default-active);
  --color-ock-bg-alternate: var(--ock-bg-alternate);
  --color-ock-bg-alternate-hover: var(--ock-bg-alternate-hover);
  --color-ock-bg-alternate-active: var(--ock-bg-alternate-active);
  --color-ock-bg-inverse: var(--ock-bg-inverse);
  --color-ock-bg-inverse-hover: var(--ock-bg-inverse-hover);
  --color-ock-bg-inverse-active: var(--ock-bg-inverse-active);
  --color-ock-bg-primary: var(--ock-bg-primary);
  --color-ock-bg-primary-hover: var(--ock-bg-primary-hover);
  --color-ock-bg-primary-active: var(--ock-bg-primary-active);
  --color-ock-bg-primary-washed: var(--ock-bg-primary-washed);
  --color-ock-bg-primary-disabled: var(--ock-bg-primary-disabled);
  --color-ock-bg-secondary: var(--ock-bg-secondary);
  --color-ock-bg-secondary-hover: var(--ock-bg-secondary-hover);
  --color-ock-bg-secondary-active: var(--ock-bg-secondary-active);
  --color-ock-bg-error: var(--ock-bg-error);
  --color-ock-bg-warning: var(--ock-bg-warning);
  --color-ock-bg-success: var(--ock-bg-success);
  --color-ock-bg-default-reverse: var(--ock-bg-default-reverse);
  --color-ock-icon-color-primary: var(--ock-icon-color-primary);
  --color-ock-icon-color-foreground: var(--ock-icon-color-foreground);
  --color-ock-icon-color-foreground-muted: var(
    --ock-icon-color-foreground-muted
  );
  --color-ock-icon-color-inverse: var(--ock-icon-color-inverse);
  --color-ock-icon-color-error: var(--ock-icon-color-error);
  --color-ock-icon-color-success: var(--ock-icon-color-success);
  --color-ock-icon-color-warning: var(--ock-icon-color-warning);
  --color-ock-line-primary: var(--ock-line-primary);
  --color-ock-line-default: var(--ock-line-default);
  --color-ock-line-heavy: var(--ock-line-heavy);
  --color-ock-line-inverse: var(--ock-line-inverse);
  --shadow-ock-default: var(--ock-shadow-default);
}

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }

  .ock-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #d1d5db #ffffff;
  }
}

@reference "./tailwind-animate-v4.css";
@layer utilities {
  .animate-enterRight {
    @apply animate-in slide-in-from-right-8 fade-in duration-500;
  }

  .animate-enterUp {
    @apply animate-in slide-in-from-bottom-8 fade-in duration-500;
  }

  .animate-enterDown {
    @apply animate-in slide-in-from-top-8 fade-in duration-500;
  }

  .placeholder-ock-default::placeholder {
    color: var(--ock-text-foreground-muted);
  }
}
