@layer vocs_preflight {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-inverse: theme(colors.gray.50);
    --text-foreground: theme(colors.gray.950);
    --text-foreground-muted: theme(colors.gray.600);
    --text-error: theme(colors.rose.600);
    --text-primary: theme(colors.indigo.600);
    --text-success: theme(colors.lime.600);
    --text-warning: theme(colors.orange.600);
    --text-disabled: theme(colors.gray.400);
  }
}

.dark {
  .vocs_CodeGroup {
    background-color: #0F0F0F !important;
    border-color: #18181b !important;
  }
  .vocs_Tabs_list {
    background-color: #0F0F0F !important;
    border-color: #18181b !important;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .vocs_Tabs_content,
  .vocs_CodeBlock,
  .vocs_CodeTitle,
  .vocs_Pre_wrapper {
    background-color: #0F0F0F !important;
    border-color: #18181b !important;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .vocs_Heading::before,
  .vocs_Code {
    background-color: #0F0F0F !important;
    border-color: #18181b !important;

    --vocs-twoslash_popupBackground: #0F0F0F;
    --vocs-color_background5: #0F0F0F;
  }
  .vocs_CopyButton {
    background-color: #0F0F0F;
  }
  .vocs_Tabs_trigger {
    background-color: #0F0F0F;
    border-color: #818cf8;
    color: #F9FAFB;
  }
}

.vocs_CodeGroup {
  border-radius: 8px;
  overflow: visible;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.vocs_Tabs_list {
  padding: 8px 8px 0;
}

.dark .vocs_NavigationMenu_content{
  background-color: #0F0F0F;
  border-color: #18181b !important;
  border-radius: 8px;
}

.vocs_DesktopTopNav_item.vocs_NavigationMenu_link.vocs_Link.vocs_Link_styleless {
  color: #030712;
}

.dark .vocs_DesktopTopNav_item.vocs_NavigationMenu_link.vocs_Link.vocs_Link_styleless {
  color: #F9FAFB;
}

.vocs_Tabs_trigger {
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  transition: color 0.3s;
  color: #030712;
}

.vocs_Anchor.vocs_Link.vocs_Link_accent_underlined {
  color: #030712;
}

.dark .vocs_Anchor.vocs_Link.vocs_Link_accent_underlined {
  color: #F9FAFB;
}

.vocs_NavigationMenu_trigger.vocs_NavigationMenu_link {
  color: #030712;
}

.dark .vocs_NavigationMenu_trigger.vocs_NavigationMenu_link {
  color: #F9FAFB;
}

.dark .vocs_Pre_wrapper pre {
  background-color: transparent !important;
}

#home-install .vocs_CodeGroup {
  display: flex;
  height: 100%;
  flex-direction: column;
}

#home-install .vocs_Tabs_content {
  flex: 1;
}

#home-install .vocs_Code {
  font-size: 14px;
}

@media (max-width: 768px) {
  .vocs_CodeBlock {
    margin-left: auto;
    margin-right: auto;
  }
}

.css-blurry-gradient {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 500px;
  height: 500px;
  border-radius: 50% 22% 40% 80%;
  filter: blur(70px);
  background: radial-gradient(circle at 50% 50%, #818CF8, #818CF8);
  opacity: 0.6;
}

@media (max-width: 468px) {
  .css-blurry-gradient {
    display: none;
  }
  .css-blurry-gradient-mobile {
    display: block;
  }
}

.dark .css-blurry-gradient {
  background: radial-gradient(circle at 50% 50%, #6f79c5, #6f79c5);
  opacity: 0.2;
}

.pane {
  background: white;
}

.badge {
  background: #4F46E5;
  path {
    fill: #F9FAFB;
  }
}

.vocs_Content:has(#blobs) {
  padding: 60px 0px 0px 0px;
  background-color: #f9fafb;
}

.dark {
  .vocs_Content:has(#blobs) {
    padding: 60px 0px 0px 0px;
    background-color: #030713;
  }
}

.vocs_Content:has(#blobs) + .vocs_Footer {
  display: none;
}

.css-main-container {
  background-color: #f3f4f6;
}

.dark {
  .css-main-container {
    background-color: #0e121d;
  }
}

.css-alternate-container {
  background-color: white;
}
.dark .css-alternate-container {
  background-color: #030713;
}

.landing-page-hero .vocs_Paragraph {
  line-height: 1.5;
}

.landing-page .vocs_Header,
.landing-page .vocs_H1.vocs_Heading {
  border: none;
  padding: 15px 0;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: -1.6px;
  line-height: 48px;
  color: red;
}

.dark {
  .landing-page .vocs_Header,
  .landing-page .vocs_H1.vocs_Heading {
    color: white;
  }
}

.landing-page a.vocs_Anchor {
  text-decoration: none;
}

.css-main-container a.vocs_Anchor {
  color: #818cf8;
}

.dark .alternate-button {
  background-color: #818cf8;
  color: #030712;
}

footer a.vocs_Anchor {
  color: #030712;
}

.dark .landing-footer a.vocs_Anchor {
  color: white;
}

.landing-footer a.vocs_Anchor {
  color: black;
}

.dark .social-icons-list path {
  fill: white;
}

.social-icons-list path {
  fill: black;
}

.twitter-tweet {
  border: 1px solid #111827;
  border-radius: 0.91675rem;
  overflow: hidden;
}

#twitter-widget-0 {
  width: 27.375rem !important;
  margin-bottom: -1px;
}

#twitter-widget-1 {
  width: 40.5rem !important;
}

#twitter-widget-2 {
  width: 40.5rem !important;
  height: 39rem !important
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  display: inline-flex;
  animation: scroll 30s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}
