@layer vocs_preflight {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-inverse: theme(colors.gray.50);
    --text-foreground: theme(colors.gray.950);
    --text-foreground-muted: theme(colors.gray.600);
    --text-error: theme(colors.rose.600);
    --text-primary: theme(colors.indigo.600);
    --text-success: theme(colors.lime.600);
    --text-warning: theme(colors.orange.600);
    --text-disabled: theme(colors.gray.400);
  }
}

#home-install .vocs_CodeGroup {
  display: flex;
  height: 100%;
  flex-direction: column;
}

#home-install .vocs_Tabs_content {
  flex: 1;
}

#home-install .vocs_Code {
  font-size: 14px;
}

@media (max-width: 768px) {
  .vocs_CodeBlock {
    margin-left: auto;
    margin-right: auto;
  }
}

.css-blurry-gradient {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 500px;
  height: 500px;
  border-radius: 50% 22% 40% 80%;
  filter: blur(70px);
  background: radial-gradient(circle at 50% 50%, #0070ba, #003a5b);
  opacity: 0.6;
}

.dark .css-blurry-gradient {
  background: radial-gradient(circle at 50% 50%, #b2fdff, rgba(0, 162, 255, 0));
  opacity: 0.2;
}

.pane {
  background: white;
}

.badge {
  background: white;
  path {
    fill: blue;
  }
}
