@layer vocs_preflight {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-inverse: theme(colors.gray.50);
    --text-foreground: theme(colors.gray.950);
    --text-foreground-muted: theme(colors.gray.600);
    --text-error: theme(colors.rose.600);
    --text-primary: theme(colors.indigo.600);
    --text-success: theme(colors.lime.600);
    --text-warning: theme(colors.orange.600);
    --text-disabled: theme(colors.gray.400);
  }
}

#home-install .vocs_CodeGroup {
  display: flex;
  height: 100%;
  flex-direction: column;
}

#home-install .vocs_Tabs_content {
  flex: 1;
}

#home-install .vocs_Code {
  font-size: 14px;
}

/* Set background color for all components */
.vocs_CodeGroup,
.vocs_Tabs_list,
.vocs_Tabs_trigger,
.vocs_Tabs_content,
.vocs_CodeBlock,
.vocs_CodeTitle,
.vocs_Pre_wrapper {
  background-color: #1F2937 !important;
}

/* Overall container styling */
.vocs_CodeGroup {
  border-radius: 8px;
  overflow: hidden;
}

/* Tab list container */
.vocs_Tabs_list {
  padding: 8px 8px 0;
}

/* Individual tab button styling */
.vocs_Tabs_trigger {
  color: #B0B0B0;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  transition: color 0.3s;
}

/* Active tab button styling */
.vocs_Tabs_trigger[data-state="active"] {
  color: #FFFFFF;
  font-weight: bold;
}

/* Code block styling */
.vocs_Pre_wrapper pre {
  background-color: transparent !important;
  color: inherit !important;
}

@media (max-width: 768px) {
  .vocs_CodeBlock {
    margin-left: auto;
    margin-right: auto;
  }
}

.css-blurry-gradient {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 500px;
  height: 500px;
  border-radius: 50% 22% 40% 80%;
  filter: blur(70px);
  background: radial-gradient(circle at 50% 50%, #818CF8, #818CF8);
  opacity: 0.6;
}

.dark .css-blurry-gradient {
  background: radial-gradient(circle at 50% 50%, #6f79c5, #6f79c5);
  opacity: 0.2;
}

.pane {
  background: white;
}

.badge {
  background: white;
  path {
    fill: blue;
  }
}

.vocs_Content:has(#blobs) {
  padding: 60px 0px 0px 0px;
}

.dark .vocs_Content:has(#blobs) {
  padding: 60px 0px 0px 0px;
  background-color: #030713;
}

.vocs_Content:has(#blobs) + .vocs_Footer {
  display: none;
}

.landing-page-hero .vocs_Paragraph {
  line-height: 1.5;
}

.dark .css-main-container {
  background-color: #111827;
}

.css-main-container {
  background-color: #f3f4f6;
}

.css-alternate-container {
  background-color: white;
}
.dark .css-alternate-container {
  background-color: #030713;
}

.landing-page .vocs_Header,
.landing-page .vocs_H1.vocs_Heading {
  border: none;
  padding: 15px 0;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: -1.6px;
  line-height: 48px;
}

.landing-page a.vocs_Anchor {
  text-decoration: none;
}

.css-main-container a.vocs_Anchor {
  color: #818cf8;
}

.dark .social-icons-list path {
  fill: white;
}

.dark .alternate-button {
  background-color: #818cf8;
  color: #030712;
}

footer a.vocs_Anchor {
  color: #030712;
}

.dark .landing-footer a.vocs_Anchor {
  color: white;
}

.landing-footer a.vocs_Anchor {
  color: black;
}

.dark .social-icons-list path {
  fill: white;
}

.social-icons-list path {
  fill: black;
}
