@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e5e5e5;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e5e5e5;
    --foreground: #171717;
  }
}

* {
  touch-action: manipulation;
}

body {
  color: var(--foreground);
  background: var(--background);

  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.high-score-badge + div {
  transform: translate(10px, 20px) !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
